// GENERICOS
html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

// CUERPO
body {
  font-family: 'Architects Daughter', cursive, sans-serif; // Letra por defecto
  background-color: whitesmoke;
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 10px;
}

// FOOTER
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: -1px -1px 5px gray;
  background-color: #270553b0;
  // Parrafo del footer
  p {
    color: #fff;
    font-size: 0.75em;
    display: inline-block;
  }
  // Contenedor
  .container {
    padding: 0 50px;
  }
  // Enlaces
  #ftr-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 5 auto;
  }
  #ftr-wrap > div {
    display: table-cell;
    vertical-align: middle;
    // outline:1px dashed red;  /* TEST Outline.  TO BE DELETED. */
  }
  // Alineación de los elementos
  #ftr-wrap > div:nth-child(1) {
    text-align: left;
  }
  #ftr-wrap > div:nth-child(2) {
    text-align: center;
  }
  #ftr-wrap > div:nth-child(3) {
    text-align: right;
  }

  // Cada elemento
  .ftr-links ul {
    margin: 0;
  }
  // Por cada elemento
  .ftr-links ul li {
    display: inline-block;
    padding-right: 15px;
    font-size: 0.75em;
  }
  // color del enlace
  .ftr-links ul li a {
    color: #fff;
    margin: 0;
  }
}

// ELEMENTOS
// Encabezado
h1 {
  text-transform: uppercase; // En mayúsculas
  background: #270553; //Fondo
  color: white; // Color de la letra
  margin: 0; // L
  padding: 10px 28px;
  font-weight: normal;
}

//Input
input {
  background: #f7f7f7;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  font-size: 20px;
  font-weight: 0.5px;
  padding-left: 25px;
  border: 3px solid gray;
  color: gray;
  font-family: 'Architects Daughter';
}
input:focus {
  background: #f7f7f7;
  border: 3px solid #7981f8;
  outline: none;
  color: #111764;
  font-family: 'Architects Daughter';
}

// span de la lista, por defecto 0
span {
  margin-right: 10px;
  text-align: center;
  height: 50px;
  width: 0;
  opacity: 0; // Empieza como invisible
  -webkit-transition: 0.3s; // Animacion
  transition: 0.3s linear; // Lineal
}

// En cada elemento i, le cambio el cursos
i {
  cursor: pointer;
}

// Botones
button {
  background-color: #270553b0;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  font-family: 'Architects Daughter';
  // Animaciones
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  // Cabio del cursor
  cursor: pointer;

  // Efecto al pulsar
  &:hover {
    background-color: white;
    color: #270553;
    border: 2px solid #27055367;
  }
}

// Lista de botones
#buttons {
  display: inline-block;
  text-align: center;
  margin-left: 17%;
  position: absolute;
  bottom: 5px;
}
// Lista de tareas
#todo {
  margin: 0 auto;
  // Sombras
  box-shadow: 0 0 2em gray;
  max-width: 400px;
  height: 100%;
  background: whitesmoke;
  position: relative;
}
// Ayuda
#overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  // Repasar
  background-color: rgb(129, 51, 255);
  background-color: rgba(129, 51, 255, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  // Botón de cerrar
  .closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #270553;
    cursor: pointer;
  }

  // Lista
  li {
    padding: 8px;
    list-style-type: circle;
    font-size: 30px;
    color: #270553;
    display: block;
  }
}

//Lista
.todos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // Para cada elemento
  li {
    background: #2705530e;
    height: 50px;
    line-height: 50px;
    // Cambiamos el cursos y la letra
    cursor: pointer;
    font-size: 20px;
    // Al hacer hover
    &:hover span {
      width: 50px;
      opacity: 1;
      margin-left: 5px;
    }
    // Cambiamos el fondo a los elementos pares
    &:nth-child(2n) {
      background: #edf1f5;
    }
  }
}

// Otras clases para manejar con JS
.display {
  display: none;
  transition: 0.3s linear;
}
.checked {
  color: gray;
  text-decoration: line-through;
}

// Elementos gráficos e iconos
.fa-pencil-alt {
  float: right;
  padding-top: 8px;
}
.fa-trash-alt {
  color: #7f7fd5;
}
// Lista de trucos
.tips {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

// Adaptación a distintas configuraciones de
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  #todo {
    width: 100%;
    height: 100%;
  }
}
